/* Your Global Styles */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

  body{
    font-family: 'Poppins', sans-serif !important;
  }

  h1, h2, h3{
    font-weight: 600 !important;
  }

  h1{
    font-size: 40px !important;
  }

  h2{
    font-size: 32px !important;
  }

  h3{
    font-size: 28px !important;
  }
  
  .docs-content-field a{
    color: #721DEB !important;
  }

  p{
    font-size: 16px !important;
  }

  .docs-body ul li{
    font-size: 16px !important;
  }

  .docs-body ol li{
    font-size: 16px !important;
  }

:root .lpx-theme-dim, :root .lpx-theme-dark {
    --lpx-logo: url('/images/logo/leptonx/logo-light.svg');
    --lpx-logo-icon: url('/images/logo/leptonx/icon.svg');
}

:root .lpx-theme-light {
    --lpx-logo: url('/images/logo/leptonx/logo-dark.svg');
    --lpx-logo-icon: url('/images/logo/leptonx/icon.svg');
}

.abp-empty-layout .card{
    margin: 0rem !important;
}

.abp-empty-layout .docs-page{
    padding: 0rem !important;
}

#document-node-wrapper{
    border: 0 !important;
}

#GoToMainWebSite {
    display: none !important;
}

/* .docs-version {
    display: none !important;
} */

/* .ProjectName{
    background-image: url( './images/logo/leptonx/icon.svg' );
} */


.docs-second{
  top: 17rem !important;
}


.resize-class{
  height: 231px;
    max-height: 100%
}

.bg-sec{
  background-image: url(/images/logo/bg-new.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}

.bg-advertise{
  background: linear-gradient(357deg, rgb(205 60 255 / 38%), rgb(150 75 255 / 30%), rgb(60 189 255 / 26%), rgb(255 255 255 / 50%));
}

.card-body .btn-primary {
  color: #fff !important;
    background-color: #721DEB !important;
    border-color: #721DEB !important;
    font-style: 15px !important;
}
.docs-page .docs-page-index #scroll-index{
  height: 24vh !important;
}